body {
    color: mediumturquoise;
    font-size: 60px;
}

table,
th,
td {
    padding: 25px;
    border: 3px solid darkturquoise;
    text-align: center;
    border-collapse: collapse;
}

.right {
    text-align: right;
}

button {
    border: dimgrey;
    background: transparent;
    font-size: 60px;
    color: mediumturquoise;
}